.barChartBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .barChartBoxTitle {
        font-weight: 600;
        font-size: 20px;
    }

    .barChart {
        width: 100%;
    }

}